{{#partial "content"}}
    <h1>NAME: {{endangered.name}}</h1>
    <hr>
    {{#if endangered.sightings}}
        {{#each endangered.sightings}}
            <hr>
            <p>Location Sighted: {{location}}</p>
            <p>Ranger Name: {{ranger}}</p>
            <p>Health: {{endangered.health}}</p>
            <p>Age:{{endangered.age}}</p>
        {{/each}}
    {{/if}}
{{/partial}}

{{> layout.hbs}}


