{{#partial "content"}}

    <h5 style="padding-top:5%">Add Animal Your Animal</h5>

    <form action="/animal/new" method="post">
        <label>Animal Name:</label>
        <input type="text" name="name">
        <input style="padding-left: 2%" type="checkbox" name="endangered" value="yes">
      <label >Endangered</label>


        <h5 style="padding-top:5%">Add Additional Details if the animal is Endangered:</h5>
        <div class="form-group reveal-if-active">
            <label for="health">Health Condition</label>
            <select class="form-control" name="health">
                <option>{{HEALTH_HEALTHY}}</option>
                <option>{{HEALTH_OK}}</option>
                <option>{{HEALTH_ILL}}</option>
            </select>
        </div>

        <div class="form-group reveal-if-active">
            <label for="age">Animal Age</label>
            <select class="form-control" name="age">
                <option>{{AGE_BABY}}</option>
                <option>{{AGE_YOUNG}}</option>
                <option>{{AGE_ADULT}}</option>
            </select>
        </div>
        <div class="text-center" style="padding-top:3%">
            <button classs="text-center"style="color: white;background-color: green;border-radius:8px;border:none;padding:8px"type="submit">Add Animal</button>
        </div>
    </form>

{{/partial}}

{{> layout.hbs}}