{{#partial "content"}}
     <div class="report d-flex">
         <div><img src="https://img.theculturetrip.com/450x/smart/wp-content/uploads/2018/03/shutterstock_780326071.jpg">
         </div>
         <div class="report-para">
         <p > We don't own planet Earth,we belong to it.
             And we must share it with our wildlife.</p>
             <p class="report-sub-para">TrackPaw lets you track common and endangered animals by registering them
             on our site. Start Tracking now!</p>
             <p class="add-new text-center"><a href="/animal/new">Add Animal</a></p>
         </div>


     </div>




     <h4 class="text-center tracked">Previously Tracked Animals</h4>
     <p class="text-center text-muted"><i class="fas fa-info-circle"></i> You view animal sighting by clicking more info below,that is if the ranger added sighting details</p>
     <div class="all-sighting d-flex">

         <div class="common-sight">

             <h5 class="common">Common Animals</h5>
             {{#if animals}}
                 {{#each animals}}
                    <div class="text-center"><p>{{name}}</p>
                        <h4>{{sightingssize}}</h4>
                        <a href="/animal/{{id}}"> <p class="add-sight">More Info</p></a>
                    </div>


                 {{/each}}
             {{/if}}
         </div>

         <div class="endangered-sight">

             <h5 class="endangered">Endangered Animals</h5>
             {{#if endangered}}
                 {{#each endangered}}

                        <div class="text-center">
                            <p>{{name}}</p>
                            <h4>{{getSightings.size}}</h4>
                            <a href="/endangered_animal/{{id}}"><p class="add-sight">More Info</p></a>
                        </div>

                 {{/each}}
             {{else}}
                 <a href="/animal/new">Add Animal to Report a Sighting</a>
             {{/if}}
         </div>


     </div>

     <h4 class="text-center trackedd">Add Sighting information about previously tracked animals</h4>
     <p class="text-center text-muted"><i class="fas fa-info-circle"></i> Add animal sighting based on location spotted</p>
     <div class="All-sighting d-flex">

         <div class="common-sighted">
             <h5 class="endangered text-center"> Common Animal Sighting </h5>
             {{#if animals}}
                 <p style="font-weight: bold;">Please add More Information about the tracked animal </p>
                 <hr>
                 <form action="/sighting" method="post">
                     <label>Select Animal:</label>
                     <select name = "animalSelected">
                         {{#each animals}}
                             <option value="{{id}}">{{name}}</option>
                         {{/each}}
                     </select>
                     <hr>
                     <label>Location Seen:</label>
                     <input type="text" name="location">
                     <hr>
                     <label>Your Name:</label>
                     <input type="text" name="rangerName">
                     <hr>
                     <button type="submit" class="add-sight">Add Sighting</button>
                 </form>
             {{/if}}
         </div>

         <div class="endangered-sighted">
             <h5 class="endangered text-center"> Endangered Animal Sighting </h5>
             <p style="font-weight: bold;" >Please add More Information about the tracked animal </p>
             {{#if endangered}}
                 <form action="/endangered_sighting" method="post">
                     <hr>
                     <label>Select Endangered Animal:</label>
                     <select name="endangeredAnimalSelected">
                         {{#each endangered}}
                             <option value="{{id}}">{{name}}</option>
                         {{/each}}
                     </select>
                     <hr>
                     <label>Location Spotted:</label>
                     <input type="text" name="location">
                     <hr>
                     <label>Your Name:</label>
                     <input type="text" name="rangerName">
                     <hr>
                     <button type="submit" class="add-sight">Add sighting</button>
                 </form>
             {{/if}}
         </div>



     </div>


{{/partial}}

{{> layout.hbs}}